<%- include('header') %>

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3>Extra Category Form</h3>
                    </div>

                    <div class="col-12 col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <i data-feather="home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Extra Category</li>
                            <li class="breadcrumb-item active">Add Extra Category</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-xl-6">

                    <div class="card">

                        <div class="card-header pb-0">
                            <h5>Add Extra Category</h5>
                        </div>

                        <div class="card-body">

                            <form action="/extraCategory/insert-extraCategory" method="POST" class="theme-form">

                                <!-- Category -->
                                <div class="mb-3">
                                    <label class="col-form-label pt-0">
                                        Select Category
                                    </label>

                                    <select name="categoryId" class="js-example-basic-single col-sm-12">

                                        <option value="">Select Category</option>

                                        <% categoryData.forEach(category=> { %>

                                            <option value="<%= category._id %>">
                                                <%= category.categoryName %>
                                            </option>

                                            <% }) %>

                                    </select>
                                </div>

                                <!-- Sub Category -->
                                <div class="mb-3">

                                    <label class="col-form-label pt-0">
                                        Select Sub Category
                                    </label>

                                    <select name="subCategoryId" class="js-example-basic-single col-sm-12">

                                        <option value="">Select Sub Category</option>

                                        <% subCategoryData.forEach((sub)=> { %>

                                            <option value="<%= sub._id %>">
                                                <%= sub.subCategoryName %>
                                            </option>

                                            <% }) %>

                                    </select>

                                </div>

                                <!-- Extra Category Name -->
                                <div class="mb-3">

                                    <label class="col-form-label pt-0">
                                        Extra Category Name
                                    </label>

                                    <input type="text" name="extraCategoryName" class="form-control"
                                        placeholder="Enter Extra Category Name">

                                </div>

                                <!-- Description -->

                                <div class="mb-3">

                                    <label class="col-form-label pt-0">
                                        Description
                                    </label>

                                    <textarea name="extraCategoryDescription" class="form-control w-100"
                                        style="height:100px;resize:none;" placeholder="Enter Description"></textarea>

                                </div>

                                <div class="mb-3 pt-3">

                                    <button class="btn btn-primary" type="submit">
                                        Add Extra Category
                                    </button>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <%- include('footer') %>